{% extends "index.html" %}

{% block body %}
    <div class="container challenge">
        <h2>{{ challenge.title }}</h2>
        <div class="col-md-4 ml-auto">
            from<time datetime="{{ challenge.start }}">{{ challenge.start }}</time>
            to<time datetime="{{ challenge.due }}">{{ challenge.due }}</time>
        </div>
        
        <p class="content">{{ challenge.content }}</p>
    </div>
    <hr>
    <form id="submission" method="POST" enctype="multipart/form-data">
        <div class="container upload row">
            <div class="col-9">
                <ul class="form-group">
                    <li>Your submission should be in <strong>CSV</strong> format.</li>
                    <li>We expect the solution file to have <strong>6925 prediction rows</strong>.</li>
                    <li>This file should have a <strong>header row</strong>.</li>
                </ul>
            </div>
            <div class="col-3">
                <label class="btn btn-outline-primary upload-label">
                    <i class="fas fa-file-upload"></i> Upload<input type="file" name="file" id="upload" hidden>
                </label>
            </div>
        </div>
        <div class="container submit row">
            <div class="input-group mb-3 col-9">
                <div class="input-group-prepend">
                    <span class="input-group-text">Describe submission</span>
                </div>
                <input type="text" class="form-control" name="description" aria-label="Submission-Title" placeholder="description">
            </div>
            <div class="col-3">
                <input type="submit" class="btn btn-outline-success" name="submit" value="Submit">
            </div>
        </div>
    </form>
{% endblock %}
