  {% with type="post" %}
    {% include "controller.html" %}
  {% endwith %}

  <!-- Modal -->
  <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form class="modal-content" id="post" method="POST" enctype="multipart/form-data">
        <div class="modal-header">
          <div class="container-fluid">
            <div class="form-group row">
              <label class="col-sm-1 col-form-label" for="postTitle">Title</label>
              <div class="col-sm-11">
                <input type="text" class="form-control" name="postTitle" placeholder="Post title">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-group row">
              <label for="postContent">Content</label>
              <textarea class="form-control" name="postContent" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-outline-primary" value="{{ text }}">
        </div>
      </form>
    </div>
  </div>
