/* Font */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

/* Clearfix */
.clear:after {
    content: "";
    display: table;
    clear: both;
}
/* Link hover */
.link-trans:hover {
    color: #007bff;
    transition: all 0.3s linear;
}

[hidden] {
  display: none !important;
}

/* Base */
html, body { height: 100%; }

body {
    font: 16px/1 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

pre {
    overflow: auto;
    word-break: normal;
    word-wrap: normal;
}

.gj-datepicker {
    padding: 0 8px;
    display: inline-flex;
}

nav.navbar {
    height: 60px;
    font-size: 24px;
    border-bottom: 3px solid #eee;
}

nav.navbar > div {
    margin: 0 auto;
    width: 768px;
    display: flex;
    align-items: center;
}

nav.navbar ul.navbar-nav li.nav-item {
    padding: 12px;
    margin: 12px;
}

nav.navbar .nav-link {
    font-size: 18px;
}

nav.navbar .nav-link.nav-icon {
    font-size: 28px;
}

.admin-panel {
    margin-bottom: 16px;
}

#flash {
    margin: 0 auto;
    padding: 16px;
    width: 768px;
}

#flash .alert {
    margin-bottom: 0px;
}

#flash ul {
    margin-bottom: 0px;
}

#flash ul li {
    list-style-type: none;
    padding: 8px 0;
    font-size: 18px;
}

#wrapper {
    margin: 0 auto;
    padding: 16px;
    width: 768px;
}

#assignments {
    list-style-type: none;
}

#assignments a {
    color: inherit;
    text-decoration: inherit;
}

#login p {
    font-size: 1.2em;
    line-height: 1.4em;
}

#user {
    margin-bottom: 16px;
}

form.info-box {
    width: 350px;
    border: 2px solid #eee;
    padding: 24px;
    padding-bottom: 0px;
}

.assignment {
}
.assignment .pdf-viewer {
    width: 766px;
    height: 500px;
    margin-top: 15px;
    margin-left: -15px;
}

.upload ul li {
    margin-top: 4px;
}
.upload-label {
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-bottom: 0px;
}
.submit input {
    width: 100%;
    font-size: 16px;
}
