{% extends "index.html" %}

{% block body %}
    <table id="assignments" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Start</th>
          <th scope="col">Due</th>
        </tr>
      </thead>
      <tbody>
        {% for assignment in assignments %}
        <tr>
          <th scope="row">{{ assignment.id }}</th>
          <td><a href="/assignment/{{ assignment.id }}">{{ assignment.name }}</a></td>
          <td>{{ assignment.start }}</td>
          <td>{{ assignment.due }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
