{% extends "index.html" %}

{% block body %}
  <div id="login" class="row">
    <div class="col-7">
      <h4>Welcom to the CVLab</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <form class="col-5 info-box" id="login" method="POST">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">ID</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="studentid" placeholder="Student Number">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <input type="submit" class="btn btn-primary btn-block" value="Sign in">
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label class="col-sm-8">
          <a href="#">Forgot password?</a>
        </label>
      </div>
    </form>
  </div>
{% endblock %}
