  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
      <a class="navbar-brand" href="/">CVLab</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          <a class="nav-link" href="/notice">Notice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/challenge">Challenge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/qna">QnA</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            {% if user is none %}      
              <a class="nav-link nav-icon" href="/login"><i class="far fa-user-circle"></i></a>
            {% else %}
              <a class="nav-link nav-icon" href="/user"><i class="fas fa-user-circle"></i></a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>