
  <h2>Scoreboard</h2>
  <table id="ranks" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">User</th>
        <th scope="col">Score</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      {% for ranking in rankings %}
      <tr>
        <td scope="row">{{ ranking.rank }}</td>
        <td>{{ ranking.user }}</td>
        <td>{{ ranking.score }}</td>
        <td>{{ ranking.time_created }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
