
  <h2>Scoreboard</h2>
  {% if user.TA %}
    <div id="rankboard" hidden data-rank-checkbox="{{ ranking.role }}" data-id="{{ challenge.id }}"></div>
  {% endif %}

  <table id="ranks" class="table table-hover">
    <thead>
      <tr>
        {% for label in ranking.labels %}
        <th scope="col">{{ label }}
          {% if user.TA %}
          <div class="form-check table-check">
            <input class="form-check-input rank-checkbox" type="checkbox" value="" id="checkRank-{{ label }}">
          </div>
          {% endif %}
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for rank in ranking.rankings %}
      <tr>
        <td scope="row">{{ rank.rank }}</td>
        <td>{{ rank.user }}</td>
        <td>{{ rank.score }}</td>
        <td>{{ rank.time }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
